body {
    margin: 3em;
    font-family: Helvetica;
}

body h1, h3, h5, p, button, div {
    margin: 0.4em;
    
}
.inline-children h5, p{
   display: inline-block;
   margin-right: 1em;
}

button {
    background-color: transparent;
    border-radius: 0.3em;
    padding: 0.3em 0.7em 0.3em 0.7em;
}

