body {
    font-family: Helvetica;
    font-size: 1.3em;
    margin: 3em; 
}

p {
    padding-right: 0.5em;
}

.inline-children h5, p{
   display: inline-block;
}

#head {
    font-weight: bold;
    padding: 0;
    margin: 0;
}

button {
    background-color: transparent;
    border-radius: 0.3em;
    padding: 0.3em 1em 0.3em 1em; 
    font-size: 1em; 
}

